<div class="midbound">
  {{#if tospage}}
  <p class="tinytext footer">Website designed and hosted by me using NodeJS, Express and Handlebars. Usage of my website
  or services is governed by these terms of service and this privacy policy.
  For more info, <a href="/contact" class="standardlink">contact me</a>. For service status,
  <a href="https://cloud.instatus.com" class="standardlink">visit the ACLD Instatus page</a>. Thanks for visiting!</p>
  {{else}}
  <p class="tinytext footer">Website designed and hosted by me using NodeJS, Express and Handlebars. Usage of my website
  or services is governed by my <a href="/privacy" class="standardlink"> Terms Of Service and Privacy Policy</a>.
  For more info, <a href="/contact" class="standardlink">contact me</a>. For service status,
  <a href="https://cloud.instatus.com" class="standardlink">visit the ACLD Instatus page</a>. Thanks for visiting!</p>
  {{/if}}
</div>
