<div class="midbound">
  <p class="tinytext footer">Website designed and hosted by me using Express and Handlebars. Usage of my website
  or services is governed by my <a href="/privacy" class="standardlink"> Terms Of Service / Privacy Policy</a>.
  For more info, <a href="/contact" class="standardlink">contact me</a>. Thanks for visiting!</p>
</div>
