<div class="midbound">
  <nav class="navbar">
    <ul>
      {{#if home}}
      <li class="navitem active"><a href="/" id="hm">Home</a></li>
      {{else}}
      <li class="navitem"><a href="/" id="hm">Home</a></li>
      {{/if}}

      {{#if contact}}
      <li class="navitem active"><a href="/contact" id="ct">Contact</a></li>
      {{else}}
      <li class="navitem"><a href="/contact" id="ct">Contact</a></li>
      {{/if}}

      {{#if wellness}}
      <li class="navitem active"><a href="/wellness" id="wn">Wellness</a></li>
      {{else}}
      <li class="navitem"><a href="/wellness" id="wn">Wellness</a></li>
      {{/if}}

      {{#if gallery}}
      <li class="navitem active"><a href="/gallery" id="ge">Gallery</a></li>
      {{else}}
      <li class="navitem"><a href="/gallery" id="ge">Gallery</a></li>
      {{/if}}

      <li class="navitem outage"><a href="https://cloud.instatus.com/">Outage?</a></li>
    </ul>
  </nav>
  <script>
    homelink = document.getElementById("hm");
    contactlink = document.getElementById("ct");
    wellnesslink = document.getElementById("wn");
    gallerylink = document.getElementById("ge");

    homelink.addEventListener("click", function (a) {
      event.preventDefault();
      console.log("Home page clicked");
      console.log(window.location.pathname);
      targetpath = a.target.href;
    });
  </script>
</div>
