<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="Cloud">
    <meta name="description" content="My official portfolio website. Also offers help with Wellness.">
    <meta name="theme-color" content="#00b972">

    <title>Cloud</title>

    <script src=" https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="icon" href="imgs/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon"/>
</head>
<body onload="pageLoad()">
    <div class="allpages">
        {{{body}}}
    </div>
</body>
<script>
  function pageLoad() {
    console.log("Page loaded");
  }
</script>
</html>
