<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="Cloud">
    <meta name="description" content="My official portfolio website. Also offers help with Wellness.">
    <meta name="theme-color" content="#00b972">

    <title>Cloud</title>

    <link rel="stylesheet" type="text/css" href="/lib/bootstrap-3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="icon" href="imgs/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon"/>
</head>
<body>
    <div class="allpages">
        {{{body}}}
    </div>
</body>
</html>
