{{> header contact=true}}
<div class="midbound">
  <h2>Find me elsewhere</h2>
  <p>Looking to get in touch? Contact me or find me on a number of different platforms.</p>
  <div class="flexdiv">
    <div class="flexitem">
      <h5>GitHub</h5>
      <a href="https://github.com/ActuallyCloud" target="_blank">
        <img src="/imgs/github.png"
      </a>
    </div>
    <div class="flexitem">
      <h5>Hardworking</h5>
      <p>I currently have a college GPA of 3.42 as a full-time student, and work part-time for my university's Printing & Mailing center.</p>
    </div>
    <div class="flexitem">
      <h5>Responsive</h5>
      <p>I respond quickly to emails, messages, and assignments, and make sure everything is completed on time.</p>
    </div>
  </div>
</div>
