{{> header contact=true}}
<div class="midbound">
  <h2>Find me elsewhere</h2>
  <p>Looking to get in touch? Contact me or find me on a number of different platforms.</p>
  <div class="contactflexdiv">
    <div class="contactflexitem">
      <a href="/ext/github" target="_blank">
        <img src="/imgs/github.png" class="fleximg">
      </a>
    </div>
    <div class="contactflexitem">
      <a href="/ext/discord" target="_blank" >
        <img src="/imgs/discord.png" class="fleximg">
      </a>
    </div>
    <div class="contactflexitem">
      <a href="/ext/email">
        <img src="/imgs/email.png" class="fleximg">
      </a>
    </div>
  </div>
  <p class="tinytext">
    Icons made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a href="https://www.flaticon.com">flaticon.com</a>
  </p>
</div>
