{{> header gallery=true}}
<div class="midbound">
  <h3>Stroogle</h3>
  <p>I worked in a group to create a design concept for a streaming app that allows you to search across multiple streaming services at once.</p>
  <div class="indexflexdiv">
    <img src="/imgs/ux/stroogle/s1.png" class="galleryimgv">
    <img src="/imgs/ux/stroogle/s2.png" class="galleryimgv">
    <img src="/imgs/ux/stroogle/s3.png" class="galleryimgv">
    <img src="/imgs/ux/stroogle/s4.png" class="galleryimgv">
    <img src="/imgs/ux/stroogle/s5.png" class="galleryimgv">
  </div>
  <h3>Linker</h3>
  <p>I designed an interface for a new type of messaging app that alleviates misdials and is easier to read. <a href="/ext/figma-linker" class="standardlink">Try the Figma prototype here</a>.</p>
  <div class="indexflexdiv">
    <img src="/imgs/ux/linker/l1.jpg" class="galleryimgv">
    <img src="/imgs/ux/linker/l3.jpg" class="galleryimgv">
    <img src="/imgs/ux/linker/l5.jpg" class="galleryimgv">
    <img src="/imgs/ux/linker/l6.jpg" class="galleryimgv">
  </div>
  <h3>Wellness</h3>
  <p>I created a Discord bot that serves cute images and aims to help mental health.</p>
  <div class="indexflexdiv">
    <img src="/imgs/ux/wellness/w1.png" class="galleryimgh">
    <img src="/imgs/ux/wellness/w2.png" class="galleryimgh">
    <img src="/imgs/ux/wellness/w3.png" class="galleryimgh">
  </div>
  <h2>UX Design Examples</h2>
  <h3>Navvy</h3>
  <p>I worked on a design for a concept navigation app that makes it easier to share your location.</p>
  <div class="indexflexdiv">
    <img src="/imgs/ux/navvy/n1.png" class="galleryimgv">
    <img src="/imgs/ux/navvy/n2.png" class="galleryimgv">
    <img src="/imgs/ux/navvy/n3.png" class="galleryimgv">
  </div>
  <p class="tinytext">
    All company logos and images are trademarks of their respective companies. I claim no ownership over other companies logos or icons. All names are fake - any references to real people or real events are coincedence. Icons made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a href="https://www.flaticon.com">flaticon.com</a>
  </p>
</div>
{{> footer}}
