{{> header gallery=true}}
<div class="midbound">
  <h2>UX Design Examples</h2>
  <h3>Navvy</h3>
  <p>I worked on a design for a concept navigation app that makes it easier to share your location.</p>
  <div class="indexflexdiv">
    <img src="/imgs/ux/navvy/n1.png" class="galleryimgv">
    <img src="/imgs/ux/navvy/n2.png" class="galleryimgv">
    <img src="/imgs/ux/navvy/n3.png" class="galleryimgv">
  </div>
  <h3>Stroogle</h3>
  <p>I worked in a group to create a design concept for a streaming app that allows you to search across multiple streaming services at once.</p>
  <div class="indexflexdiv">
    <img src="/imgs/ux/stroogle/s1.png" class="galleryimgv">
    <img src="/imgs/ux/stroogle/s2.png" class="galleryimgv">
    <img src="/imgs/ux/stroogle/s3.png" class="galleryimgv">
    <img src="/imgs/ux/stroogle/s4.png" class="galleryimgv">
    <img src="/imgs/ux/stroogle/s5.png" class="galleryimgv">
  </div>
  <p class="tinytext">
    Icons made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a
      href="https://www.flaticon.com">flaticon.com</a>
  </p>
  <h3>Wellness</h3>
  <p>I created a Discord bot that serves cute images and aims to help mental health.</p>
  <div class="indexflexdiv">
    <img src="/imgs/ux/wellness/w1.png" class="galleryimgh">
    <img src="/imgs/ux/wellness/w2.png" class="galleryimgh">
    <img src="/imgs/ux/wellness/w3.png" class="galleryimgh">
  </div>
  <p class="tinytext">
    </a>
  </p>
</div>
{{> footer}}
