{{> header gallery=true}}
<div class="midbound">
  <h2>UX Design Examples</h2>
  <p>Here are some samples of my work.</p>
  <div class="indexflexdiv">
    <div class="indexflexitem">
      <img src="/imgs/ux/navvy/n1.png" class="fleximg">
    </div>
    <div class="indexflexitem">
      <img src="/imgs/ux/navvy/n2.png" class="fleximg">
    </div>
    <div class="indexflexitem">
      <img src="/imgs/ux/navvy/n3.png" class="fleximg">
    </div>
  </div>
  <p class="tinytext">
    Icons made by <a href="https://www.flaticon.com/authors/freepik">Freepik</a> from <a href="https://www.flaticon.com">flaticon.com</a>
  </p>
</div>
