<div class="colorful3">
  {{> header home=true}}
  <div class="fullwide">
    <div class="mainheader midbound">
      <h1>Hello!</h1>
      <img class="headerimg" src="imgs/pfp.svg">
      <h4>I'm a fourth-year university student pursuing a CS degree with a focus in Human-Computer Interaction.</h3>
      <p>(I also develop some fun stuff on the side)</p>
    </div>
  </div>
</div>
<div class="midbound">
  <h4>Want to see some of my work?</h4>
  <p>This website's source code is available publicly on <a href="/ext/github" class="standardlink" target="_blank">my GitHub</a>.</p>
  <h4>Looking for help with something I've made?</h4>
  <p>For help with Wellness, <a href="/wellness" class="standardlink">check the Wellness page</a>. For other things, <a href="/contact" class="standardlink">contact me</a>.</p>
</div>
{{> footer}}
