<div class="colorful3">
  {{> header home=true}}
  <div class="fullwide">
    <div class="mainheader midbound">
      <h1>Hi there!</h1>
      <img class="headerimg" src="imgs/anim_logo.gif">
      <h4>I'm a fourth-year university student pursuing a CS degree with a focus in Human-Computer Interaction.</h3>
      <p>(I also develop some fun stuff on the side)</p>
    </div>
  </div>
</div>
<div class="midbound">
  <h3>Some of my past work</h3>
  <div class="indexflexdiv">
    <div class="textboxes">
      <h4>Wellness</h4>
      <p>I created a Discord bot that serves cute images and aims to help mental health. <a href="/wellness" class="standardlink">View Wellness here</a>.</p>
    </div>
    <div class="textboxes">
      <h4>Stroogle</h4>
      <p>I worked with a team to design a streaming application that tracks which services offer which movies and shows. <a href="/gallery" class="standardlink">Look at the concept designs for Stroogle here</a>.</p>
    </div>
    <div class="textboxes">
      <h4>Quiz Bowl Capstone</h4>
      <p>I'm working with a team to create a robust backend database and an intuitive user interface that allows quizmasters to access and add questions for their competitions.</p>
    </div>
    <div class="textboxes">
      <h4>ACLD Website</h4>
      <p>I created this website to host my online preseence and serve as a frontend webpage for some of my other services. <a href="/ext/github-acld" class="standardlink">The source code for ACLD is available on my GitHub here</a>.</p>
    </div>
  </div>
  <h4>Need help with one of my services, or want to get in touch?</h4>
  <p>For help with Wellness, <a href="/wellness" class="standardlink">check the Wellness page</a>. For other things, <a href="/contact" class="standardlink">contact me</a>.</p>
</div>
{{> footer}}
