<div class="fullwide colorful1">
  <div class="mainheader midbound">
    <h1>Hey there, I'm Cloud</h1>
    <img class="headerimg" src="imgs/pfp.svg">
  </div>
</div>
{{> header home=true}}
<div class="mainheader midbound">
  <h3>I'm pursuing a CS degree with a focus in Human-Computer Interaction. I also develop some fun stuff on the side.</h3>
</div>
