
<div class="colorful1">
  <div class="fullwide">
    <div class="mainheader midbound">
      <h1>Hey there, I'm Aura</h1>
      <img class="headerimg" src="imgs/pfp.svg">
    </div>
  </div>
  {{> header home=true}}
</div>
<div class="midbound">
  <h4>I'm a third-year university student pursuing a CS degree with a focus in Human-Computer Interaction.</h3>
  <p>(I also develop some fun stuff on the side.)</p>
  <div class="flexdiv">
    <div class="flexitem">
      <h5>Personal Experience</h5>
      <p>I work on a couple of personal projects that are fun and give me practice with coding. You can check them out on my GitHub or this website.</p>
    </div>
    <div class="flexitem">
      <h5>Hardworking</h5>
      <p>I have an SAT score of 1490, a college GPA of 3.42, and work part-time for my university's Printing & Mailing center.</p>
    </div>
    <div class="flexitem">
      <h5>Responsive</h5>
      <p>I respond quickly to emails, messages, and assignments.</p>
    </div>
  </div>
</div>
<div c
