<div class="colorful1">
  <div class="fullwide">
    <div class="mainheader midbound">
      <h1>Hey there, I'm Aura!</h1>
      <img class="headerimg" src="imgs/pfp.svg">
    </div>
  </div>
  {{> header home=true}}
</div>
<hr>
<div class="midbound">
  <h4>I'm a third-year university student pursuing a CS degree with a focus in Human-Computer Interaction.</h3>
  <p>(I also develop some fun stuff on the side)</p>
  <div class="indexflexdiv">
    <div class="indexflexitem">
      <h5>Personal Experience</h5>
      <p>I work on a couple of personal projects that are fun and give me practice with coding in different languages.</p>
    </div>
    <div class="indexflexitem">
      <h5>Hardworking</h5>
      <p>I currently have a college GPA of 3.42 as a full-time student, and work part-time for my university's Printing & Mailing center.</p>
    </div>
    <div class="indexflexitem">
      <h5>Responsive</h5>
      <p>I respond quickly to emails, messages, and assignments, and make sure everything is completed on time.</p>
    </div>
  </div>
  <h4>Want to see some work?</h4>
  <p>Some of my work is available publicly on <a href="/ext/github" class="standardlink">GitHub</a>.</p>
  <h4>Looking for help with something I've made?</h4>
  <p>For help with Wellness, <a href="/wellness" class="standardlink">check the Wellness page</a>. For other things, <a href="/contact" class="standardlink">contact me</a>.</p>
</div>
<div c
