<div class="colorful1">
  {{> header wellness=true}}
  <div class="mainheader midbound">
    <h3>Your privacy is important.</h3>
    <p>
      These terms of service and privacy policy govern if and how your data is treated and your rights with regard to use of the
      services. By using any of the services and/or this website you are agreeing to the most up-to-date version of these policies.
      Please read them carefully.
    </p>
    <p>Terms last updated: 12/11/2022</p>
  </div>
</div>
