{{> header wellness=true}}
<div class="mainheader midbound">
  <h1>Cats, cupcakes, and much more.</h1>
  <h4>Wellness is an integration that connects to your Discord server and serves amazing content to help mental health
    of users.</h4>
  <img class="headerimg" src="imgs/wellness.png">
</div>
<div class="fullwide colorful1">
  <div class="midbound">
    <div class="indexflexdiv">
      <div class="indexflexitem">
        <h5>If it's cute, it's here.</h5>
        <p>Wellness serves more than 12 different types of animals and 2 types of foods. Don't see what you like? You can
          request it to be added on the <a href="/ext/discord" class="standardlink">support discord</a>.</p>
      </div>
      <div class="indexflexitem">
        <h5>You matter too.</h5>
        <p>Wellness helps you get in touch with support groups, and do breathing exercises.</p>
      </div>
      <div class="indexflexitem">
        <h5>Involve your friends.</h5>
        <p>Remember all those image types mentioned before? If need be, you can send them to a friend - without alerting
          anyone else of anything.</p>
      </div>
      <div class="indexflexitem">
        <h5>Set boundaries.</h5>
        <p>Don't want people to spam you, or to receive messages from Wellness at all? That's okay! You can disable
          messaging functionality with a simple command.</p>
      </div>
      <div class="indexflexitem">
        <h5>Verified and secure.</h5>
        <p>Wellness is part of Discord's official bot verification program, and your message contents are not read by the
          bot unless otherwise stated.</p>
      </div>
    </div>
    <h3>Commands</h3>
    <h4>Images</h4>
    <div class="commandsflexdiv">
      <div class="commandsflexitem">
        <h5>bear</h5>
      </div>
      <div class="commandsflexitem">
        <h5>bird</h5>
      </div>
      <div class="commandsflexitem">
        <h5>cake</h5>
      </div>
      <div class="commandsflexitem">
        <h5>cats</h5>
      </div>
      <div class="commandsflexitem">
        <h5>dogs</h5>
      </div>
      <div class="commandsflexitem">
        <h5>donut</h5>
      </div>
      <div class="commandsflexitem">
        <h5>fish</h5>
      </div>
      <div class="commandsflexitem">
        <h5>fox</h5>
      </div>
      <div class="commandsflexitem">
        <h5>hedgehog</h5>
      </div>
      <div class="commandsflexitem">
        <h5>koala</h5>
      </div>
      <div class="commandsflexitem">
        <h5>monkey</h5>
      </div>
      <div class="commandsflexitem">
        <h5>otter</h5>
      </div>
      <div class="commandsflexitem">
        <h5>owl</h5>
      </div>
      <div class="commandsflexitem">
        <h5>panda</h5>
      </div>
      <div class="commandsflexitem">
        <h5>penguin</h5>
      </div>
      <div class="commandsflexitem">
        <h5>rabbit</h5>
      </div>
      <div class="commandsflexitem">
        <h5>seal</h5>
      </div>
      <div class="commandsflexitem">
        <h5>sloth</h5>
      </div>
      <div class="commandsflexitem">
        <h5>wolf</h5>
      </div>
    </div>
    <h4>Mental Health</h4>
    <div class="commandsflexdiv">
      <div class="commandsflexitem">
        <h5>breathe</h5>
      </div>
      <div class="commandsflexitem">
        <h5>hotlines</h5>
      </div>
    </div>
    <h4>Help / Settings</h4>
    <div class="commandsflexdiv">
      <div class="commandsflexitem">
        <h5>dms</h5>
      </div>
      <div class="commandsflexitem">
        <h5>help</h5>
      </div>
    </div>
  </div>
</div>
<div class="midbound">
  <h3>What are you waiting for?</h3>
  <p><a href="/ext/wellnessadd" class="button">Add Wellness</a></p>
</div>
{{> footer}}
