@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  background-color: #000000;
  color: #EEEEEE;
  min-width: 450px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-family: Oxygen, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 21px;
}

p {
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 70%;
}

hr {
  margin: 0px;
  padding: 0px;
  background: #AAAAAA;
  height: 1px;
  color: #AAAAAA;
}

.tinytext {
  font-size: 12px;
}

.standardlink {
  border-bottom: 1px solid #EEEEEE;
  cursor: pointer;
}

.fullwide {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.fullpage {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding-top: 100px;
}

.mainheader {
  padding: 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.headerimg {
  padding-bottom: 20px;
  height: 25vh;
}

.midbound {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.leftalign {
  text-align: left;
}

.navbar {
  margin: 0em;
  padding: 0.1em;
  text-align: left;
}

.navitem {
  display: inline-block;
  padding: 5px 10px;
  font-family: Oxygen, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.navitem a {
  color: white;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.navitem a:hover {
  opacity: 70%
}

.active {
  border-bottom: 2px solid #EEEEEE;
}

.button {
  border: 1px solid #EEEEEE;
  padding: 10px;
  border-radius: 5px;
}

.button:hover {
  opacity: 70%;
}

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
}

.outage a {
  color: lightcoral;
}

.indexflexdiv {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}

.indexflexitem {
  flex: 0.5 0.5 250px;
  margin: 10px;
}

.indexfleximg {
  flex: 0 0 300px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.fleximg {
  width: 50%;
  min-width: 100px;
  max-width: 500px;
}

.galleryimgv {
  flex: 0 0 300px;
  margin: 10px;
  width: 100%;
  border: 1px none;
  border-radius: 10px;
  outline: 2px solid #AAAAAA;
  outline-offset: -2px;
}

.galleryimgh {
  flex: 0 0 400px;
  margin: 10px;
  border: 1px none;
  width: 100%;
  border-radius: 10px;
  outline: 2px solid #AAAAAA;
  outline-offset: -2px;
}

.commandsflexdiv {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}

.commandsflexitem {
  flex: 0 0 60px;
  margin: 0px 10px;
  color: #AAAAAA;
}

.contactflexdiv {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.contactflexitem {
  flex: 0 0 75px;
  margin: 50px;
}

.contactflexitem img {
  width: 100%;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.colorful1 {
  background: rgb(42,124,99);
  background: linear-gradient(52deg, rgba(42,124,99,1) 20%, rgba(25,45,121,1) 80%);
}

.colorful2 {
  background: rgb(128,0,0);
  background: linear-gradient(232deg, rgba(128,0,0,1) 0%, rgba(102,25,121,1) 100%);

}

.colorful3 {
  background: rgb(87,42,124);
  background: linear-gradient(232deg, rgba(87,42,124,1) 0%, rgba(25,45,121,1) 100%);
  min-height: 100vh;
  margin: 0;
}